snippet log "console.log"
console.log(${0:${VISUAL}});
endsnippet

snippet use "use strict;"
'use strict';

${0}
endsnippet

snippet eslint "eslint-disable-next-line"
// eslint-disable-next-line ${0}
endsnippet
