[user]
	name = Sergej Tissen
	email = sergej.tissen@gmail.com
[core]
  editor = vim
  autocrlf = input
	excludesfile = /Users/sergej/.gitignore_global
[help]
  autocorrect = 1
[color]
  ui = auto
[push]
	default = current
[pull]
	ff = only
[alias]
  aa = !git add . && git status
  au = !git add -u . && git status
  c = commit -m
  ca = commit -am
  cam = commit --amend --no-edit
  caam = commit -a --amend --no-edit
  co = checkout
  col = checkout -
  com = checkout master
  df = !clear && git diff --word-diff=color
  dfs = !clear && git diff --word-diff=color --staged
  f = fetch --all -p
  gp = grep -n --heading --break
  lg = !clear && git log --all --graph --pretty='format:%C(auto)%h%d %s  %C(magenta)[%an] (%ad)%C(reset)' --date=format:'%d.%m.%y %H:%M'
  lf = !git lg --name-only
  mf = merge --ff-only
  mt = merge --no-ff
  p = pull --all -p
  pr = pull --rebase
  pu = push -u origin HEAD
  qmf = "!git checkout $1;git mf @{-1}"
  qmt = "!git checkout $1;git mt @{-1}"
  s = status --short --branch
  sd = !clear && git s && git diff --word-diff=color
  sh = !clear && git show --histogram
  sl = !clear && git show --histogram
  sp = stash pop
  st  = stash --include-untracked
  undo = "!f() { git reset --hard $(git rev-parse --abbrev-ref HEAD)@{${1-1}}; }; f"
  work = config --local user.email "sergej.tissen@codecentric.de"
  nc = config --local user.email "needcentric@gmail.com"
[merge]
  tool = vimdiff
  conflictstyle = diff3
  keepBackup = false
  ff = no
[mergetool]
  prompt = false
[diff]
  algorithm = histogram
[rerere]
  enabled = true
[credential]
	helper = osxkeychain
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/sergej/.stCommitMsg
[branch]
	autoSetupMerge = always
