[user]
  name = Sergej Tissen
  email = sergej.tissen@gmail.com
[core]
  editor = vim
  autocrlf = input
[help]
  autocorrect = 1
[color]
  ui = auto
[push]
  default = simple
[alias]
  aa = !git add . && git status
  au = !git add -u . && git status
  c = commit -m
  ca = commit -am
  cam = commit --amend --no-edit
  caam = commit -a --amend --no-edit
  co = checkout
  col = checkout -
  com = checkout master
  df = !clear && git diff --word-diff=color
  gp = grep -n --heading --break
  lg = !clear && git log --all --graph --pretty='format:%C(auto)%h%d %s  %C(dim magenta)[%an] (%ad)%C(reset)' --date=format:'%d.%m.%y %H:%S'
  mf = merge --ff-only
  mt = merge --no-ff
  qmf = "!git checkout $1;git mf @{-1}"
  qmt = "!git checkout $1;git mt @{-1}"
  s = status --short --branch
  sd = !clear && git s && git diff --word-diff=color
  sh = !clear && git show --histogram --word-diff=color
  sp = stash pop
  st  = stash --include-untracked
  undo = "!f() { git reset --hard $(git rev-parse --abbrev-ref HEAD)@{${1-1}}; }; f"
  work = "config --local user.email tissen@jochen-schweizer.de"
[merge]
  tool = vimdiff
  conflictstyle = diff3
  keepBackup = false
[mergetool]
  prompt = false
[diff]
  algorithm = histogram
[rerere]
	enabled = true
[credential]
	helper = cache --timeout 36000
