"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => Plugins
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" IdeaVim
" AceJump
map / :action AceAction<CR>

"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => General
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
set clipboard=unnamed "copy to system clipboard
set gdefault "substitue globally on lines %s/a/b/ instead %s/a/b/g
set surround "vim-surround plugin
" 5 rows offset when scrolling
set scrolloff=5
" Y behaves like C and D
noremap Y y$
" Reload .ideavimrc
nnoremap <Space>vs :source ~/.ideavimrc<CR>

" Move between Panes
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-h> <C-w>h
nnoremap <C-l> <C-w>l
nnoremap <Space>q :close<CR>

"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => IntelliJ Actions
" List of Actions: https://centic9.github.io/IntelliJ-Action-IDs/
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
nnoremap n :action FindNext<CR>
nnoremap N :action FindPrevious<CR>
